{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h4 style="margin-left: 45px"> Delete the appointment ? </h4>
        <hr>
            <p style="margin-left: 45px">
                Appointment Id: {{ appt.id }}<br>
                Title: {{ appt.title }}<br>
                Start: {{ appt.start}} <br>
                End: {{appt.end }} <br>
                Location: {{appt.location}} <br>
                Description: {{appt.description}}
            </p>
        <br>
        <form action="{{ url_for('appointment.delete_appointment', appt_id=appt.id) }}" method="POST" style="margin-left: 45px">
            <button type="submit" class="btn btn-sm btn-primary"> delete </button>
        </form>
    </div>
{% endblock %}